/**------------------------------------------------------------------
[Table of Contents]
*Organized from top to bottom
* Name of section / Search term

1. Body of Calculator / #Calculator
2. Calculator Display / #Display
3. Calculator Buttons / #Buttons
------------------------------------------------------------------**/

/* #Calculator
================================ */

.calculator{
  background-color: #b8b0b0;
  width: 300px;
  height: 400px;
  margin: 200px auto;
  border: 2px solid;
  border-radius: 30px;
}


/* #Display
================================ */
.display{
    width: 200px;
	height: 50px;
	margin: 20px auto;
	padding: 5px;
	background: #dcedc1;
}

.display-text {
    text-align: right;
    font-size: 30px;
}

/* #Buttons
================================ */

.buttons {
    padding: 10px;
}

.btn {
	height: 30px;
	width: 40px;
	margin: 10px;
	margin-bottom: 1px;
    background-color: #4d2323;
    color: #e5e2e2;
}

.plus {
    height: 80px;
    float: right;
    margin-right: 23px;
    margin-top: 10px;
}

.row {
    margin-top: -5px;
}

.row4{
    padding-left: 15px;
}

.row5 {
    margin-top: -60px;
    padding-left: 15px;
}
