/**------------------------------------------------------------------
[Table of Contents]
*Organized from top to bottom
* Name of section / Search term

1. Body of Calculator / #Calculator
------------------------------------------------------------------**/

/* #Calculator
================================ */

.calculator{
  background-color: #59c3d8;
  width: 270px;
  height: 400px;
  margin: 200px auto;
  border: 2px solid;
  border-radius: 30px;
}

.display{
    width: 200px;
	height: 50px;
	margin: 20px auto;
	padding: 5px;
	background: #dcedc1;
}

.display-text {
    text-align: right;
    font-size: 30px;
}

.buttons {
    padding: 10px;
}

